
{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{clean_files, ["logs", "build", "include/hamcrest.hrl"]}.
{deps, [
  {proper, "1.0", {git, "http://github.com/manopapad/proper.git", "master"}}
]}.

%{pre_hooks, [
%    {compile, "sh priv/build/scripts/bootstrap-deps.sh"}
%]}.

{plugin_dir, "priv/build/plugins"}.
{plugins, [header_generator]}.
