{lib_dirs, ["deps"]}.
{erl_opts, [debug_info, fail_on_warning]}.
{cover_enabled, true}.
{clean_files, ["logs", "deps", "build", "include/hamcrest.hrl"]}.
{deps, [
  {proper, ".*", {git, "http://github.com/manopapad/proper.git", "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", "master"}}
]}.
