{lib_dirs, [".."]}.
{sub_dirs, ["release"]}.
{erl_first_files, ["src/esmt.app.src"]}.
{erl_opts, [debug_info]}. %%, fail_on_warning]}.
{cover_enabled, true}.
{deps, [
    {erlydtl, ".*", {git, "http://github.com/archaelus/erlydtl.git", "master"}}
]}.
{clean_files, [
    "logs",
    "release/esmt",
    "release/overlay/bin/esmt",
    "release/overlay/bin/ejabberdctl",
    "release/overlay/etc/ejabberd.cfg",
    "release/overlay/etc/app.config"]}.
