{cover_enabled, true}.

{deps, [
    {proper, "1.*", {git, "http://github.com/manopapad/proper.git", "v1.2"}}
]}.

{erl_opts, [
    debug_info,
    fail_on_warning,
    {src_dirs, ["test"]},
    {platform_define, "^[0-9]+", namespaced_types}
    ]}.

{validate_app_modules, false}.

{ct_extra_params, "-no_auto_compile"}.

{plugin_dir, "priv/build/plugins"}.
{plugins, [eqc_resolver]}.
